body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightcyan !important;
}

/* Estilos específicos */
header {
    background-color: lightblue;
    padding: 20px;
    border-bottom: 1px solid blueviolet;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

header .dropdown {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.navbar {
    background-color: #001f3f; /* Color azul oscuro */
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    z-index: 1;
}

.navbar a:hover {
    background-color: #003366; /* Un azul más claro para el hover */
    color: white;
}

.section-title {
    text-align: center;
    margin: 30px 0; /* Ajusta el margen según tus necesidades */
}

.section-title h2 {
    font-size: 28px;
    color: gray; /* Ajusta el color según tus necesidades */
    margin: 0;
}

.card-custom-width {
    max-width: 1500px;
}


/* Colores de fondo para cada carta */
.card:nth-child(1) {
    background-color: indianred; /* Azul claro */
}

.card:nth-child(2) {
    background-color: indianred; /* Amarillo claro */
}

.card:nth-child(3) {
    background-color: indianred; /* Celeste claro */
}

.footer {
    background-color: lightblue;
    padding: 20px 0;
    text-align: center;
}